
    .banner_img{
        
        background-repeat: no-repeat;
        background-position:center center;
        width:100%;
        height:180px;
        background-size: cover;
    }
    .form-item {
        border: 1px solid #adadad;
        color: #353535;
        display: flex;
    }

    .form-item>div {
        padding: 3%;
    }

    .form-item {
        margin-bottom: -1px;
    }

    .form-item>div:last-child {
        border-left: 1px solid #adadad;
        flex: 1;
    }

    .header-box {
        position: relative;
        margin-bottom: 10px;
        /* height: 140px; */
        padding-top:20%;
        padding-bottom:30px;
        text-align: center;
        background: #fff;
    }

    .header-box .badge {
        position: absolute;
        left: 10px;
        top: 7px;
    }

    .badge .badge-icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right:2px;
        vertical-align: middle;
        position: relative;
        top:-2px;
    }

    .header-box .portrait {
        position: absolute;
        left: 50%;
        top: 0%;
        overflow: hidden;
        transform: translate3d(-50%,-50%,0);
        border: 4px solid #fff;
        background:#fff;
        border-radius: 50%;
    }

    .header-box .add-btn {
        width: 33%;
        height: 40px;
        background: #0083ff;
        border-radius: 4px;
        outline: none;
        border: none;
        color: #fff;
        font-size: 14px;
    }


    .card-box{
        border-radius: 5px;
        margin-bottom:20px;
        box-shadow: 0 0 4px rgba(0,0,4,0.2);
        padding-bottom:12px;
    }

    .block-card{
        padding:10px;
         margin:10px 15px 5px;
        /* border:1px solid #d2d2d2; */
        border-radius: 3px;
        font-size: 11px;
        background:#f9f9f9;
    }

    .more{
        color:#0084ff;
        text-decoration: none;
        background:none;
        border:none;
    }
    .info-list li{
        padding:2px 0;

    }
    .info-list li:before{
        content:'';
        display:inline-block;
        width:4px;
        height:4px;
        background:#0084ff;
        margin-right: 6px;
        border-radius:4px;
        margin-bottom:2px;
    }
    .flex-center{
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 1 1 0%;
    }

    .vertical-middle{
        vertical-align: middle;
        display: inline-block;
    }

    .concat-item span{
        vertical-align: middle;
        display: inline-block;
        width: 42px;
    }
    .business-type{
        display: inline-block; 
        margin:15px 0 10px;
        border-radius: 5px;
        font-size: 12px;
        border:1px solid rgba(0,132,255,1);
        color:rgba(0,132,255,1);
         padding:4px 6px;
    }

