html, body, div, span, p, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small,
strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption,
tbody, tfoot, thead, tr, th, td, h1, h2, h3 { margin: 0; padding: 0; border: none; outline: 0; font-size: 100%; vertical-align:
baseline; background: transparent; }
 *, :after, :before { box-sizing: border-box; }

    html,
    body {
        background: #f1f1f1;
        font-size: 14px;
        height: 100%;
        max-width: 640px;
        margin:0 auto;
        color:#333;
        /* font-family: 'Microsoft Yahei,sans-serif'; */
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
    }
    ul,li{list-style: none;}
    .clearfix {
        *zoom: 1;
    }

    .clearfix:after {
        content: '';
        display: table;
        clear: both;
    }

    input[type="button"], input[type="submit"], input[type="reset"] {
        -webkit-appearance : none ;
    }

    .pull-left {
        float: left;
    }

    .pull-right {
        float: right;
    }

a {
  color: #00B7FF;
}

.borderd{
  border:1px solid #e0e0e0;
}

.block {
  padding: 34px 15px 24px;
  background: #fff;
}
.border-bottom{
  border-bottom:1px solid #efefef;
}
.center{
  text-align: center;
}

#app {
  max-width: 640px;
  margin: 0 auto;
  padding-bottom:40px;
}
.fixed-down{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  height:50px;
  border-top:1px solid #e0e0e0;
  background:#fff;
  /* height:82px;
  padding-bottom:32px; */
}
.fixed-down .down-btn{
  width:40%;height:100%;border:none;background:#ff6600;color:#fff;font-size: 16px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
}
.down-mask{
  position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 300;
   background: rgba(0,0,0,0.5);
}
.close-btn{
   position: absolute;
   left:0;
   top:0;
   z-index: 2000;
   padding:40px;
   color:#fff;
}
.info-list{
  margin-top:15px;
}
.section {
  padding: 3%;
  background: #fff;
  margin-bottom: 2%;
}

.btn-check{
  margin-top:14px;
  width: 100%;
  display: inline-block;
  height: 40px;
  font-size:14px;
  line-height: 40px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  background: #0084ff;
  text-align: center;
}

.q-mb-10{
  margin-bottom:10px;
}

.q-mb-20{
  margin-bottom:20px;
}


.concat-item{
  padding: 4px 0;
    font-size: 14px;

}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vertical-bottom{
  vertical-align: bottom;
}

.chart-box{
  /* border:1px solid #dadada; */
  box-shadow: 0 0 4px rgba(0,0,4,0.2);
  position: relative;
}
.chart-box .chart-body{
  /* min-height:220px; */
  background:#fbfbfb;
}

.item-icon{
  display: inline-block;
  width:18px;
  vertical-align: middle;
  margin-right:8px;
}

.section .title {
  color: #6e6e6e;
}

.gray-text {
  color: #666;
}

.gray-1{
  color:#4b4b4b;
}

.gray-2{
  color:#6d6d6d;
}

.gray-3{
  color:#7d7d7d;
}

.gray-4{
  color:#838383;
}

.collpage{
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;

}

.tag-item{
  vertical-align: middle;
  padding:2px 2px;
  font-size:8px;
  border:1px solid #0084ff;
  color:#0084ff;
  position: relative;
  top:-1px;
}
.tag-item.exp{
  border:1px solid #ff7315;
  color:#ff7315;
}

.title-number{
  color:#ccc;
  margin-right:4px;
}

.chart-bottom-info{
  padding:10px 15px;
  font-size:12px;
  line-height: 1.3em;
  border-top:1px solid #efefef;
}

.report-list{
  position: relative;
}

.chart-info{
  position: absolute;
  z-index: 2000;
  bottom: -180px;
  font-size: 10px;
  width: 100%;
  padding: 0 2%;
  color:#3982f7;
}


.chart-info span:last-child{
  color:#d72823;
}

.info-list li{
  padding:5px 0;
}

.info-list li:before{
  content:'';
  display:inline-block;
  width:4px;
  height:4px;
  background:#0084ff;
  margin-right: 6px;
  border-radius:4px;
  margin-bottom:2px;
}

.chart-bottom-info a{
  padding:0;
  /* float:right; */
  font-size:12px;
}

strong{
  color:#333;
}

.black-333{
  color:#333;
}

.ft-20 {
  font-size: 20px;
  font-weight: normal;
}

.ft-18 {
  font-size: 18px;
  font-weight: normal;
}

.ft-16 {
  font-size: 16px;
  /* font-weight: normal; */
}

.ft-14 {
  font-size: 14px;
  font-weight: normal;
}

.ft-13 {
  font-size: 13px;
}

.ft-12 {
  font-size: 12px;
}

.ft-10 {
  font-size: 10px;
}

.ellipsis-2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.type-notice{
  position: absolute;
  left:16px;
  top:30%;
  z-index:1000;
}
.type-notice li{
  /* border-left:16px solid #568cca; */
  /* padding-left:10px; */
  margin-bottom:6px;
  font-size:10px;
}
.type-notice li:last-child{
  border-color:#ff7315;
}

.type-notice li:before{
  content: '';
  display: inline-block;
  width: 20px;
  margin-right: 4px;
  vertical-align: middle;
  height: 14px;
  background: #568cca;
}

.preload {
  width: 100%;
  height: 120px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #eeeeee;
  background: linear-gradient(to right, #eeeeee 8%, #ddd 18%, #eeeeee 33%);
  background-size: 1200px 104px;
  position: relative;
}

.error-notice {
  padding: 2%;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
      background-position: -468px 0
  }
  100% {
      background-position: 468px 0
  }
}

@keyframes placeHolderShimmer {
  0% {
      background-position: -468px 0
  }
  100% {
      background-position: 468px 0
  }
}

.bottom-title{
  color:#0084ff;
  font-size:18px;
  /* font-weight: bold; */
}
.bottom-title span{
  margin-left:2px;
  font-size:12px;
  font-weight: normal
}

.pull-right{
  float:right;
}

.right-info {
  line-height: 1.5em;
  direction: column;
  /* font-weight: bold; */
  flex-direction: column;
  /* font-size: 16px; */
}

.dated-line{
  padding-bottom: 8px;
  border-bottom: 1px dotted #555;
}

.bottom-title-sub{
  direction: rtl;

}

.bottom-title-sub strong{
  font-size:12px;
  font-weight: normal;
}

.ladingbox {
  margin: 3%;
}

.preload .title-block {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 30px;
  background: #fff;
}

.preload .line-block,
.preload .line-block-2,
.preload .line-block-3 {
  position: absolute;
  right: 0;
  top: 30px;
  width: 100%;
  height: 16px;
  background: #fff;
}

.preload .line-block-2 {
  top: 70px;
}

.preload .line-block-3 {
  top: 110px;
}

.preload .cloumn-line {
  position: absolute;
  left: 40%;
  top: 30px;
  width: 8px;
  height: 90px;
  background: #fff;
}
