

    .form-item {
        border: 1px solid #adadad;
        color: #353535;
        display: flex;
    }
    .banner_img{
        background-repeat: no-repeat;
        background-position:center center;
        width:100%;
        height:180px;
        background-size: cover;
    }
    .header-logo{
        background-repeat: no-repeat;
        background-position:center center;
        background-size: cover;
        width:100%;
        height:100%;
    }
    .header-logo span{
        display: inline-block;
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background:#5077b7;
    }
    #product-area{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 200px;
        padding:10px;
        background:#f8f8f8;
    }
    #product-area span{
        margin: 3px;
        font-size:10px;
        display: inline-block;
        font-size: 14px;
    }
    .form-item>div {
        padding: 3%;
    }

    .form-item {
        margin-bottom: -1px;
    }

    .form-item>div:last-child {
        border-left: 1px solid #adadad;
        flex: 1;
    }

    .header-box {
        position: relative;
        margin-bottom: 10px;
        /* height: 150px; */
        padding:60px 15px 30px;
        text-align: center;
        background: #fff;
    }

    .header-box .badge {
        position: absolute;
        left: 10px;
        top: 5px;
    }
    .section-line{
        width:70px;
        height:2px;
        background:#0084ff;
        margin:10px 0 15px 0;
    }

    .badge .badge-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        position: relative;
        top:-1px;
    }

    .header-box .portrait {
        /* width:60px;
        height:60px; */
        position: absolute;
        left: 50%;
        top: 0%;
        overflow: hidden;
        transform: translate3d(-50%,-50%,0);
        border: 2px solid #fff;
        
        border-radius: 4px;
        box-shadow: 0 0 3px #666;
        color:#fff;
       font-size: 28px;
    }

    .header-box .add-btn {
        width: 33%;
        height: 40px;
        background: #0083ff;
        border-radius: 4px;
        outline: none;
        border: none;
        color: #fff;
        font-size: 14px;
    }

    .add-btn-box{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 70px;
    }

    .add-btn{
        display: inline-block;
        width: 60px;
        height: 31px;
        color: #fff;
        text-decoration: none;
        line-height: 31px;
        text-align: center;
        background: #0084ff;
        border-radius: 2px;
    }
    .card-box{
        border-radius: 4px;
        margin-bottom:15px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1)
    }
    .img-item{
        display:flex;
        flex-direction: row;
       margin-bottom:1em;
       align-items: center;
    }
    .img-item img{
        width:40px;
        height:40px;
        border-radius: 50%;
        margin-right:5%;
        background:#f2f2f2;
        border:none;
    }
    .country-item{
        float:left;
        width:25%;
        text-align: center;
        margin-bottom:3%;
        /* height:70px; */
    }
    .country-item img{
        width:60%;
    }
    .country-more-btn{
        display: inline-block;
    width: 60%;
    margin-top: 13px;
    text-decoration: none;
    height: 30px;
    color: #666;
    font-size:12px;
    line-height: 30px;
    background: #e4e4e4;
    }
    .block-card{
        padding:10px; margin:10px; border:1px solid #e0e0e0;border-radius: 4px;
    }
    .dated-line{
        padding-bottom: 15px;
        /* border: none; */
        /* border-bottom-width: 3px;
        border-bottom-style: dashed;
        border-bottom-color: #666; */
        border-bottom: 1px dotted #333;
    }
    .more{
        color:#0084ff;
        text-decoration: none;
        background:none;
        border:none;
    }
    .info-list li{
        padding:2px 0;

    }
    .info-list li:before{
        content:'';
        display:inline-block;
        width:4px;
        height:4px;
        background:#0084ff;
        margin-right: 6px;
        border-radius:4px;
        margin-bottom:2px;
        /* vertical-align: middle; */
    }
    .flex-center{
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 1 1 0%;
    }

    .vertical-middle{
        vertical-align: middle;
        display: inline-block;
    }
